















.div-footer{
    height: 20vh;
    font-family: "gilbert-color", sans-serif;
    color: white;
    background: #140f07;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.div-footer a{
    width: 5%;
}
.div-footer a img{
    width: 70%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(102%) contrast(102%);
}