@import url("https://use.typekit.net/smm4zeg.css");
/*font-family: "gilbert", sans-serif;*/
/*font-family: "gilbert-color", sans-serif;*/
/*.color1 {color: #140f07;}
.color2 {color: #102448;}
.color3 {color: #0959a6;}
.color4 {color: #0794ff;}
.color5 {color: #08dcff;}*/
body{
    margin: 0;
    padding: 0;
}
.font{
    font-family: "gilbert", sans-serif;
    font-size: 30px;
    background-color: #140f07;
    width: 100%;
}

.logo-header{
    height: 110px;
    width: 110%;
    margin-left: 50%;
    transition: 0.3s;
}
.logo-header:hover{
    transform: scale(1.2);
}
.letter a{
    color: white;
}
.letter a li:hover{
    color: #08dcff;
    transform: scale(1.2);
}
.letter a li{
    transition: 0.3s;
}
.main-content{
    background: #140f07;
}
.main-content .background{
    width: 100%;
    filter: brightness(35%);
    height: 100%;
}
.main-content .logo-main{
    width: 30%;
    height: 30%;
    filter: invert(2%) sepia(1%) saturate(7480%) hue-rotate(178deg) brightness(123%) contrast(96%);
    margin-top: -70%;
    margin-left: 67%;
}
.main-content h2:hover{
    transform: scale(1.2);
    color: #08dcff;
    cursor: pointer;
}
.main-content h2{
    display: grid;
    font-family: "gilbert-color", sans-serif;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    margin-top: -45%;
    margin-left: 5%;
    grid-template-columns: 70px;
    transition: 0.3s;
}
.div-footer{
    height: 20vh;
    font-family: "gilbert-color", sans-serif;
    color: white;
    background: #140f07;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.div-footer a{
    width: 5%;
}
.div-footer a img{
    width: 70%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(102%) contrast(102%);
    transition: 0.3s;
}
.div-footer a img:hover{
    transform: scale(1.2);
}
 

/*ESTILOS DE ABOUT*/
.body-about{
    background: #102448;
}
.main-back{
    background: #102448;
}

.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "bohemio texto1"
    "texto2 moro";
    gap: 1rem;
    margin: 2rem;
    border: 5px solid #b6b2b2;
    background-color: #140f07;
    text-align: center;
    align-items: center;
}
.img-bohemio{
    grid-area: bohemio;
    width: 100%;
    height: 100%;
}
.img-moro{
    grid-area: moro;
    width: 100%;
    height: 100%;
}
.texto1{
    grid-area: texto1;
    font-family: "gilbert", sans-serif;
    color: white;
    
}
.texto2{
    grid-area: texto2;
    font-family: "gilbert", sans-serif;
    color: white;
}
/*ESTILOS DE CONTACTO*/
.contact-title{
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: "gilbert", sans-serif;
    color: #140f07;
}
.button{
    background-color: #102448;
    color: white;
    transition: 0.3s;
}
.button:hover{
    background-color: #08dcff;
    color: white;
    transform: scale(1.2);
}
/*ESTILOS DE MATERIAL*/
.body-material{
    background: #102448;
}
.main-gallery{
    display: flex;
    width: 50rem;
    height: 40rem;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;

}
.grid-gallery{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "foto1 foto2 foto2 foto4"
    "foto5 foto6 foto7 foto8";
    gap: 3%;
    border: 1rem solid #b6b2b2;
    background-color: #140f07;
    
}
.grid-gallery img{
    width: 100%;
    height: 100%;
    margin-bottom: 7rem;
    padding: 0.5rem;
}
.titulo-h1{
    grid-area: titulo;
    text-align: center;
    height: 4rem;
    margin-top: 4rem;
    font-family: "gilbert-color", sans-serif;
    font-size: 60px;
    color: white;
}
.foto1{
    grid-area: foto1;
}
.foto2{
    grid-area: foto2;
}
.foto4{
    grid-area: foto4;
}
.foto5{
    grid-area: foto5;
}
.foto6{
    grid-area: foto6;
}
.foto7{
    grid-area: foto7;
}
.foto8{
    grid-area: foto8;
}

/*ESTILOS DE SERVICES*/

.main-services{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin-left: 27rem;
    gap: 20rem;
    text-align: center;
    font-family: "gilbert-color", sans-serif;
    color: #140f07;
}
.main-services img{
    width: 3rem;
    height: 3rem;
}
/*RESPONSIVE DE INDEX*/
@media screen and (max-width: 601px) 
{ 
 .main-content h2{
    top: 700px;
    font-size: 30px;
 }
 .div-footer{
    display: grid;
    grid-template-columns: 1fr;
 }
 .div-footer h3{
    margin-left: 245px;
 }
 .div-footer img{
    margin-left: 300px;
 }
 .grid-content{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "bohemio"
    "texto1"
    "moro"
    "texto2";
 }
 .img-bohemio{
    grid-area: bohemio;
 }
 .img-moro{
    grid-area: moro;
 }
 .texto1{
    grid-area: texto1;
    font-size: 25px;
 }
.texto2{
    grid-area: texto2;
    font-size: 25px;
}
}




